:root {
	--card_color: rgb(243, 243, 243);
	--bg-light: white;
	--bg-dark: rgb(39, 38, 38);
}

body {
	background-color: var(--bg-light);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	margin: 20px;
}

.header {
	display: flex;
	border-radius: 10px 10px 0 0;
	height: 80px;
	font-size: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;

	background-color: var(--card_color);
	color: rgb(0, 0, 0);
}

.main {
	background-color: var(--card_color);
	height: 300px;
	font-size: 25px;
	text-align: center;
}

.footer {
	display: flex;
	height: 50px;

	background-color: var(--card_color);

	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
}

/*TO_DO app Styling*/

.todo-list {
	background-color: var(--card_color);
	margin: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #efefef;
	box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
		/* The second layer */ 0 10px 0 -5px #eee,
		/* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
		/* The third layer */ 0 20px 0 -10px #eee,
		/* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 10px 0 70px 0;
}

.todo-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 10px 0 0;
	width: 70%;
	border-bottom: 1px solid #cecece;
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 15px;
	color: #333333;
}

input[type="checkbox"] {
	margin-right: 10px;
	font-size: 30px;
}

input[type="checkbox"]:focus {
	outline: 0;
}
